---
import HtmlHead from "@/layouts/HtmlHead.astro";
import HtmlTopBody from "@/layouts/HtmlTopBody.astro";
import HtmlBottomBody from "@/layouts/HtmlBottomBody.astro";
import texture from "@/assets/background-texture.jpg";
import christmasTexture from "@/assets/background-texture-christmas.png";
import "@/styles/global.css";
import { getImage } from "astro:assets";
import { useIsChristmas } from "@/utils";

const [bg, altBg] = await Promise.all([
  getImage({
    src: texture,
    widths: [640, 800, 1024],
    format: "webp",
    quality: 40,
  }),
  getImage({
    src: christmasTexture,
    widths: [640, 800, 1024],
    format: "webp",
    quality: 40,
  }),
]);

const bgSrc = bg.src;
const altBgSrc = altBg.src;
---

<!doctype html>
<html lang="en" class="text-[14px] md:text-[16px]">
  <head>
    <HtmlHead />
    <slot name="bottom-head" />
  </head>

  <body
    class="relative bg-[#000]/50 bg-cover text-[#fff] bg-blend-color"
    style={{
      backgroundImage: `url(${useIsChristmas() ? altBg.src : bg.src})`,
    }}>
    <div class="absolute inset-0 backdrop-blur-[1.5px]"></div>
    <HtmlTopBody />
    <slot name="top-body" />
    <slot name="main-body" />
    <slot name="bottom-body" />
    <HtmlBottomBody />
  </body>
</html>

<script is:inline define:vars={{ bgSrc, altBgSrc }}>
  function useIsChristmas() {
    return new Date().getMonth() === 11 || new Date().getMonth() === 0;
  }

  document.querySelector("body").style.backgroundImage = `url(${
    useIsChristmas() ? altBgSrc : bgSrc
  })`;
</script>
