---
import HtmlHead from "@/layouts/HtmlHead.astro";
import HtmlTopBody from "@/layouts/HtmlTopBody.astro";
import HtmlBottomBody from "@/layouts/HtmlBottomBody.astro";
import "@/styles/global.css";
---

<!doctype html>
<html lang="en" class="text-[14px] md:text-[16px]">
  <head>
    <HtmlHead />
    <slot name="bottom-head" />
  </head>

  <body class="bg-[#fff] text-[#333] dark:bg-[#333] dark:text-[#fff]">
    <HtmlTopBody />
    <slot name="top-body" />
    <slot name="main-body" />
    <slot name="bottom-body" />
    <HtmlBottomBody />
  </body>
</html>
